Unsupervised Clustering Using K-Means

Import the Libraries

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

Load the Data

The Dataset
The dataset is a subset of a dataset used for a Machine Learning competition hosted by FORCE 2020 and XEEK for the predition of lithology from well logging measurements.

Data was provided by the FORCE Machine Learning competition with well logs and seismic 2020

In [5]:
df = pd.read_csv('force2020_data_unsupervised_learning.csv', index_col='DEPTH_MD')

In [6]:
df

              RHOB         GR      NPHI        PEF         DTC
DEPTH_MD
494.528   1.884186  80.200851       NaN  20.915468  161.131180
494.680   1.889794  79.262886       NaN  19.383013  160.603470
494.832   1.896523  74.821999       NaN  22.591518  160.173615
494.984   1.891913  72.878922       NaN  32.191910  160.149429
495.136   1.880034  71.729141       NaN  38.495632  160.128342
...            ...        ...       ...        ...         ...
3271.416  2.630211  19.418915  0.187811        NaN         NaN
3271.568  2.643114  21.444370  0.185574        NaN         NaN
3271.720  2.681300  22.646879  0.176074        NaN         NaN
3271.872  2.738337  22.253584  0.174617        NaN         NaN
3272.024  2.792922  19.829920  0.176627        NaN         NaN

[18270 rows x 5 columns]

In [7]:
df.dropna(inplace=True)

In [9]:
df.describe()

               RHOB            GR          NPHI           PEF           DTC
count  12202.000000  12202.000000  12202.000000  12202.000000  12202.000000
mean       2.149947     61.253852      0.414572      3.912313    121.409905
std        0.251592     29.902708      0.139207      1.816933     30.394369
min        1.493417      6.191506      0.037976      1.126667     55.726753
25%        1.983767     42.792794      0.313797      2.629141     89.977041
50%        2.059335     62.886322      0.466891      3.365132    138.477173
75%        2.389839     77.726776      0.513840      4.686422    146.242302
max        2.889454    499.022583      0.800262     17.026619    163.910797

Transform the Data

Standardize the data using the StandardScaler function from SKlearn.
This process can be influenced by outliers within the data, so it is essential these are identified and dealt with prior to this step.

In [10]:
df.describe()

               RHOB            GR          NPHI           PEF           DTC
count  12202.000000  12202.000000  12202.000000  12202.000000  12202.000000
mean       2.149947     61.253852      0.414572      3.912313    121.409905
std        0.251592     29.902708      0.139207      1.816933     30.394369
min        1.493417      6.191506      0.037976      1.126667     55.726753
25%        1.983767     42.792794      0.313797      2.629141     89.977041
50%        2.059335     62.886322      0.466891      3.365132    138.477173
75%        2.389839     77.726776      0.513840      4.686422    146.242302
max        2.889454    499.022583      0.800262     17.026619    163.910797